* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(170, 44, 255);
    background: linear-gradient(90deg, rgba(170, 44, 255, 1) 0%, rgba(234, 40, 40, 1) 50%, rgba(255, 167, 43, 1) 100%);
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 40px;
    padding: 10vh 5vw;
    max-width: 1440px;
    margin: 0 auto;

    .yt-video {
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        max-width: 600px;
        min-width: 300px;
        width: 100%;

        iframe {
            width: 100%;
            aspect-ratio: 16/9;
        }
    }
}